body {
  font-family: Arial, sans-serif;
  background-size: contain;
  background-color: burlywood;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;

}
.todo-container {
  background: moccasin;
  padding: 20px;
  margin-top: 40px;
  border-radius: 30px;
  width: 320px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-right: 8px solid #28a745;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
}
.input-group {
  display: flex;
}
.input-group input {
  flex: 1;
  padding: 10px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #ccc;
}
.input-group button {
  padding: 10px 14px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
li.task {
  background: #f9f9f9;
  padding: 12px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  transition: background 0.3s;
}
li.task.completed {
  background: rgba(99, 238, 7, 0.45);
  text-decoration: line-through;
  color: #777;
}
.task-text {
  flex: 1;
  cursor: pointer;
}
.deleteBtn {
  background: none;
  border: none;
  color: #dc3545;
  font-size: 18px;
  cursor: pointer;
}
.deleteBtn:hover{
  background: burlywood;
  color: dimgrey;
  box-shadow: 5px 8px 40px #28a745;
  transform: translateY(-10px);
  transition: background 0.3s;
  border-radius: 10px;
}
.filters {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.filters button {
  flex: 1;
  padding: 8px;
  margin: 0 4px;
  border: none;
  background: #ddd;
  border-radius: 10px;
  cursor: pointer;
  border-left: 3px solid #28a745;
}
.filters button:hover {
  background: burlywood;
  color: dimgrey;
  box-shadow: 5px 8px 40px #28a745;
  transform: translateY(-10px);
  transition: background 0.3s;
  border-radius: 10px;
}


.filters button.active {
  background: #28a745;
  color: white;
}
.filters button.active:hover{
  background: burlywood;
  color: dimgrey;
  box-shadow: 5px 8px 40px #28a745;
  transform: translateY(-10px);
  transition: background 0.3s;
  border-radius: 10px;
}

.flower-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: linear-gradient(135deg, #ff549f, #ff94c2);
  color: white;
  padding: 20px 30px;
  border-radius: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: all 0.6s ease;
  z-index: 999;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.flower-popup.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
